@font-face {
  font-family: Montserrat-Light;
  src: url('./assets/fonts/Montserrat/Montserrat-Light.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body, #root {
  min-height: 100vh;
}

#root {
  font-family: Montserrat-Light;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}